<!DOCTYPE html>
<html lang="en">
<head>
    <title>Authentication <%= error ? 'Failed' : 'Success' %></title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
</head>
<body>
<!--suppress ES6ConvertVarToLetConst -->
<script type="text/javascript">

    //debugger;

    // give browser time to set new origin and apply related policies
    setTimeout(function(){
        var jsCallback = <%- JSON.stringify(jsCallback) %>;
        var outer = window.opener;
        if (outer && jsCallback)
            sendToOpener();

        function sendToOpener(){

            // opener will focus himself

            var auth = <%- JSON.stringify(auth) %>;
            var error = <%- JSON.stringify(error) %>;
            var link = <%- JSON.stringify(link) %>;

            var outerOrigin = outer.window.origin;

            var _send = false;

            function sendAuth() {
                _send = true;
                outer.postMessage({
                    type: 'superlogin.oauthSession',
                    success: true,
                    session: {error: error, auth: auth, link: link}
                }, outerOrigin);
            }

            // If the user closes the popup manually
            window.addEventListener('beforeunload', function(){
                if(!_send)
                    sendAuth();
            });

            sendAuth();

            // opener will close this window, but you never know ...
            setTimeout(function(){
                try
                {
                    window.close();
                } catch (e)
                {
                    console.error('cannot close window', e);
                }

            }, 1000);
        }


    }, 200)

</script>
<p>Login processed. You may close this window and/or return to the app.</p>
<!--TODO: add button te resend auth via postMessage -->
</body>
</html>
